.home {
    padding: 80px 0;
    min-height: 100vh;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.media-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media-icons a {
    color: var(--second-color);
    font-size: 32px;
}

.media-icons a:hover {
    color: var(--hover-color);
}

.home-info h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.home-info h3 {
    color: var(--third-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.home-info-link {
    width: fit-content;
    gap: 4px;
}

.home-info-link svg {
    border-radius: 50%;
    font-size: 17px;
}

.home-info p {
    font-size: var(--normal-font-size);
    columns: var(--third-color);
    max-width: 350px;
    width: 100%;
}

.inner-info-link {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.inner-info-link:hover {
    background: var(--hover-color);
}
.home-img {
    position: relative;
}
.home-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
    135deg,
    #6fe0d2 0%,
    #4F959D 50%,
    #205781 100%
  );

  border-radius: 84% 25% 27% 14% / 60% 62% 43% 44%;;
  z-index: -10;
}
.home-img img {
    width: 90%;
    max-height: 500px;
    object-fit: contain;
}

.scroll-down {
    display: block;
    margin: 20px auto 0;
    width: 120px;
    text-align: center;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.scroll-down svg {
    color: var(--second-color);
    font-size: 18px;
    animation: arrow-down ease 1s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(10px);
    }
}
@media (max-width: 1070px) {
    .home-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .home-img {
        order: 1;
    }
    .home-info {
        order: 2;
    }
    .media-icons {
        order: 3;
        flex-direction: row;
        gap: 40px;
    }
}
