.lang-switch {
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.lang-btn {
    font-weight: 500;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    transition: 0.2s linear;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    caret-color: transparent;
}
.lang-btn:hover{
    color: #fff;
    background-color: var(--second-color);
}
.lang-btn.active {
    background-color: var(--second-color);
    color: #fff;
}

.lang-switch .logo {
    display: none;
}

@media (max-width: 980px) {
    .nav-menu.active .nav-link {
        order: 1;
    }

    .lang-switch {
        order: 0;
    }

    .lang-switch .logo {
        display: block;
        margin-right: auto;
    }
}